set (autostart ${PLUGIN_APP_MANAGER_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.AppManager")

if(PLUGIN_APP_MANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_APP_MANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_APP_MANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
if(PLUGIN_APP_MANAGER_RESOURCE_MONITOR)
    kv(pausedToSuspendedTimeout ${PLUGIN_APP_MANAGER_PAUSED_TO_SUSPENDED_TIMEOUT})
    kv(suspendedToHibernatedTimeout ${PLUGIN_APP_MANAGER_SUSPENDED_TO_HIBERNATED_TIMEOUT})
    kv(hibernationStoragePath ${PLUGIN_APP_MANAGER_HIBERNATION_STORAGE_PATH})
endif()
end()
ans(configuration)
