set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.RDKAppManagersLite")

if(PLUGIN_RDKAPPMANAGERS_LITE_STARTUPORDER)
    set (startuporder ${PLUGIN_RDKAPPMANAGERS_LITE_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_RDKAPPMANAGERS_LITE_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()
ans(configuration)
