set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.RDKAppManagers")

if(PLUGIN_RDKAPPMANAGERS_STARTUPORDER)
set (startuporder ${PLUGIN_RDKAPPMANAGERS_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_RDKAPPMANAGERS_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

