set (autostart ${PLUGIN_VICTIM_SELECTOR_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.VictimSelector")

if(PLUGIN_VICTIM_SELECTOR_STARTUPORDER)
set (startuporder ${PLUGIN_VICTIM_SELECTOR_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_VICTIM_SELECTOR_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
