set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.RDKAMService")

if(PLUGIN_RDKAMSERVICE_STARTUPORDER)
set (startuporder ${PLUGIN_RDKAMSERVICE_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_RDKAMSERVICE_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

